.banner { 
    position: fixed; 
    overflow: visible !important;
    margin: 0;
    width: 100% !important;
    height: 100px !important;
    background-color: #F0F8FF;
}
.banner li { 
    list-style: none; 
    font-size: 50px;
    text-align: center;
}
.banner ul li { 
    float: left; 
}
