.banner { 
    position: fixed; 
    margin: 0;
    width: 100%;
    background-color: #F0F8FF;
}
.banner li { 
    list-style: none; 
    font-size: 50px;
    text-align: center;
}
.banner ul li { 
    float: left; 
}
