* {
  box-sizing: border-box; 
}

p {
  text-align:center;
}

.about-me {
  border-radius: 100%;
  border: 10px solid purple;
}

body {
  padding: 0;
  margin: auto;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #606c71; 
}

.links {
  width: 300px;
  height: 400px;
  background-color: #66ffd9;
  margin: 25px 25px 25px 25px;
  display: inline-block;
  box-shadow: 10px 10px 10px #a6a6a6;
}
	
.page {
  margin: auto;
}
	
