p {
  text-align: center;
}

.apps {
  margin-top: 120px;
}

body {
  padding: 0;
  margin: auto;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  background-image: url("https://www.planwallpaper.com/static/images/518071-background-hd_xO1TwRc.jpg");
  color: #606c71; 
}

.links {
  width: 300px;
  height: 400px;
  background-color: #66ffd9;
  margin: 20px 20px;
  display: inline-block;
  box-shadow: 10px 10px 10px #a6a6a6;
}

