p {
  text-align: center;
}

li{
  font-size: 32px;
}

.bar {
  height: 500px;
  width: 500px;
  /*margin: 50px 50px;
  position: fixed;
  border: 5px solid red;
  border-radius: 25px*/
}

body {
  padding: 0;
  margin: auto;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #606c71; 
}

.links {
  width: 300px;
  height: 400px;
  background-color: #66ffd9;
  margin: 20px 20px;
  display: inline-block;
  box-shadow: 10px 10px 10px #a6a6a6;
}

